body{
    animation: gradient 15s ease infinite;
    background: linear-gradient(-45deg, #663d31,#47723c, #23a5d5, #23d5ab) no-repeat;
    background-size: 300% 300%;
    color: blanchedalmond;

}
@keyframes gradient{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;       
    }
    100%{
        background-position: 0% 50%; 
    }
}
.h11{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight: bold
    /*font-family:courier,arial,helvetica;*/
}
.p11{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 28px;
    
}
.txbran{
    color: ivory;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

.linha{
    display: flex;
    flex-flow: row wrap;
}
.linha2{
    flex-wrap: wrap;
}

.fundo1{
    background-color: rgba(173, 216, 230, 1);
    color: rgb(22, 29, 36);
    border: none;
    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 16px 32px;
    text-align: center;
   /* font-size: 16px; */
    margin: 4px 2px;
    transition: 0.7s;

}
.fundo1:hover{
    background-color: #435783;
    color: white;
    
}

.fundo2{
    border: none;
    color: black; 
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    transition: 0.7s;
    border-top-left-radius: 110px;
    border-bottom-right-radius: 110px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.fundo2:hover{
    background-color: #6D7993;
    color: white;
    
}

.fundo3{
    background-color: rgb(173, 230, 182);
    color: rgb(22, 36, 22);
    border: none;
    border-top-left-radius: 110px;
    border-bottom-right-radius: 110px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 16px 32px;
    text-align: center;
   /* font-size: 16px; */
    margin: 6px 4px;
    transition: 0.7s;

}
.fundo3:hover{
    background-color: #435983;
    color: white;
    
}
.fundo4{
    
   
    border-top-left-radius: 110px;
    border-bottom-right-radius: 110px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
   
    text-align: center;
   /* font-size: 16px; */
   
    transition: 0.1s;

}
.fundo4:hover{
    background-color: rgba(173, 216, 230, 1);
    color: rgb(22, 36, 22);
    
}





.tamCarr{
    width: auto;
    max-height: 200px;
    display: flex;
    justify-content: center;
}
.bordaVerde{
    border-style: groove;
    border: lawngreen;
}
.tam1{
    width: 300px;
    height: 300px;
    object-fit: fill;
    margin: 5px;
    border: 10px;
    border-style:groove;
    border-color: seashell;
}
.tam2{
    width: 350px;
    height: 250px;
    object-fit: fill;
    margin: 5px;
    border: 5px;
    border-style:double;
    border-color: chartreuse;
}
.tam3{
    width: 250px;
    height: 350px;
    object-fit: fill;
    padding: 4px;
    margin: 5px;
    border: 5px;
    border-style:inset;
    border-color: chartreuse;

}
.tam4{
    width: 350px;
    height: 300px;
    object-fit: fill;
    padding: 4px;
    border-style: groove;
    border-color: rgb(129, 141, 117);
}
.tamnot{
    width: 500px;
    height: 350px;
    object-fit: fill;
    margin: 5px;
    border: 5px;
    border-style:double;
    border-color: chartreuse;
}
.ftnot{
    border-radius: 3px;
}
.pnot{
    color: white;
    font-family: "Times New Roman", Times, serif;
    font-size: 14px;
}
.icone{
    width: 50px;
    height: 50px;
}
.bold{
    font-weight: bold;
}
.bolder{
    font-weight: bolder;
}
.borda{
    width: 350px;
    height: 350px;
    object-fit: fill;
    margin: 5px;
    border: 5px;
    border-style:double;
    border-color: chartreuse;    

}
.borda2{
    border-radius: 15px;
    
}

.collapsible {
    background-color: rgba(67, 87, 131, .5);
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    border-radius: .25rem;
    border-top-right-radius: 100px;    
    border-top-left-radius: 100px;
  }


  .collapsible2 {
    background-color: rgba(67, 87, 131, .5);
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    border-radius: .25rem;
    border-bottom-right-radius: 100px;    
    border-bottom-left-radius: 100px;
  }



  
  .active, .collapsible:hover {
    background-color: #555;    
    transition: 0.7s;
  }
  .active2, .collapsible2:hover {
    background-color: #555;    
    transition: 0.7s;
  }
  
  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: rgba(123, 321, 123, .3);
  }
  .card1 {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    color: seashell;
    background-color: rgba(67, 87, 131, .5);
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    border-bottom-right-radius: 100px;
}

.imgcar{
    height: 500px;
    width: auto;
}
.imgcar2{
    height: 630px;
    width: 100px;
}

.zoom {
    
    transition: transform .2s; /* Animation */
    
    margin: 0 auto;
  }
  
  .zoom:hover {
    transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.mc{
    margin-top: 30px;
}
.tamesq{
    width: 600px;
    height: 700px;
}



/* Hover para as tecnologias*/

.hidetec {
    display: none;
}
      
  .myDIVtec:hover + .hidetec {
    display: block;
    color: rgb(230, 213, 213);
}



.fundo5{
    background-color: rgb(173, 230, 227);
    color: rgb(22, 29, 36);
    border: none;
    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 16px 32px;
    text-align: center;
   /* font-size: 16px; */
    margin: 4px 2px;
    transition: 0.7s;

}

  
  
